<section id="about" class="mb-5">
    <div class="container">
        <h2 class="section-title display-4 fw-bold text-center text-info mb-5">Apa itu Sawerin ?</h2>

            <div class="col-sm d-flex justify-content-center gap-4">
                <img src="/assets/static/images/ask.png" alt="hero" class="w-25 shadow rounded">
                <p class="fs-5">
                    Sawerin adalah platform Indonesia yang mendukung kreator konten, seniman, musisi, dan penulis untuk mendapatkan dukungan finansial dari penggemar mereka. Kreator dapat menawarkan paket berlangganan bulanan, mengunggah konten eksklusif, dan berinteraksi lebih dekat dengan penggemar. Dengan berbagai metode pembayaran yang mudah dan laporan pendapatan transparan, Sawerin membantu kreator fokus pada pembuatan konten berkualitas tanpa khawatir tentang pendapatan, sekaligus meningkatkan eksposur dan menjangkau audiens yang lebih luas.</p>
            </div>
        </div>
    </div>
</section>