<section id="faqs">
    <div class="container">
        <h2 class="section-title display-5 fw-bold text-center text-info mb-5">FAQs</h2>

        <!-- Accordion1 -->
        <div class="accordion mb-2 shadow" id="accordion1">
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button bg-info text-dark"
                            type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseOne" aria-expanded="true"
                            aria-controls="collapseOne">
                        Apa itu Sawerin?
                    </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse"
                     data-bs-parent="#accordion1">
                    <div class="accordion-body">
                        <strong>Sawerin</strong>
                        adalah platform Indonesia yang mendukung kreator konten, seniman, musisi, dan penulis untuk mendapatkan dukungan finansial dari penggemar mereka.
                    </div>
                </div>
            </div>
        </div>

        <!-- Accordion2 -->
        <div class="accordion mb-2 shadow" id="accordion2">
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button bg-info text-dark"
                            type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseTwo" aria-expanded="true"
                            aria-controls="collapseTwo">
                        Bagaimana cara kerja Sawerin?
                    </button>
                </h2>
                <div id="collapseTwo" class="accordion-collapse collapse"
                     data-bs-parent="#accordion2">
                    <div class="accordion-body">
                        Kreator dapat membuat profil, menawarkan paket berlangganan bulanan, mengunggah konten eksklusif, dan menerima dukungan finansial dari penggemar melalui berbagai metode pembayaran.
                    </div>
                </div>
            </div>
        </div>

        <!-- Accordion3 -->
        <div class="accordion mb-2 shadow" id="accordion3">
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button bg-info text-dark"
                            type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseThree" aria-expanded="true"
                            aria-controls="collapseThree">
                        Apa saja metode pembayaran yang tersedia di Sawerin?
                    </button>
                </h2>
                <div id="collapseThree" class="accordion-collapse collapse"
                     data-bs-parent="#accordion3">
                    <div class="accordion-body">
                        Sawerin menyediakan berbagai metode pembayaran seperti transfer bank dan dompet digital untuk memudahkan penggemar dalam memberikan dukungan finansial.
                    </div>
                </div>
            </div>
        </div>

        <!-- Accordion4 -->
        <div class="accordion mb-2 shadow" id="accordion4">
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button bg-info text-dark"
                            type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseFour" aria-expanded="true"
                            aria-controls="collapseFour">
                        Apakah ada biaya untuk menggunakan Sawerin?
                    </button>
                </h2>
                <div id="collapseFour" class="accordion-collapse collapse"
                     data-bs-parent="#accordion4">
                    <div class="accordion-body">
                        Sawerin mengambil sebagian kecil dari setiap transaksi sebagai biaya layanan, yang digunakan untuk pengembangan dan pemeliharaan platform.
                    </div>
                </div>
            </div>
        </div>

        <!-- Accordion5 -->
        <div class="accordion mb-2 shadow" id="accordion5">
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button bg-info text-dark"
                            type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseFive" aria-expanded="true"
                            aria-controls="collapseFive">
                        Bagaimana saya bisa menarik dana dari Sawerin?
                    </button>
                </h2>
                <div id="collapseFive" class="accordion-collapse collapse"
                     data-bs-parent="#accordion5">
                    <div class="accordion-body">
                        Kreator dapat menarik dana mereka melalui fitur penarikan yang tersedia di dashboard mereka, dengan berbagai opsi yang tersedia.
                    </div>
                </div>
            </div>
        </div>

        <!-- Accordion6 -->
        <div class="accordion mb-2 shadow" id="accordion6">
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button bg-info text-dark"
                            type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseSix" aria-expanded="true"
                            aria-controls="collapseSix">
                        Apakah konten saya aman di Sawerin?
                    </button>
                </h2>
                <div id="collapseSix" class="accordion-collapse collapse"
                     data-bs-parent="#accordion6">
                    <div class="accordion-body">
                        Ya, Sawerin menggunakan teknologi keamanan terbaru untuk memastikan bahwa konten dan data pribadi Anda tetap aman.
                    </div>
                </div>
            </div>
        </div>

        <!-- Accordion7 -->
        <div class="accordion mb-2 shadow" id="accordion7">
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button bg-info text-dark"
                            type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseSeven" aria-expanded="true"
                            aria-controls="collapseSeven">
                        Bagaimana cara menghubungi tim dukungan Sawerin?
                    </button>
                </h2>
                <div id="collapseSeven" class="accordion-collapse collapse"
                     data-bs-parent="#accordion7">
                    <div class="accordion-body">
                        Anda dapat menghubungi tim dukungan Sawerin melalui email atau formulir kontak yang tersedia di situs web kami.
                    </div>
                </div>
            </div>
        </div>

        <!-- Accordion8 -->
        <div class="accordion mb-2 shadow" id="accordion8">
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button bg-info text-dark"
                            type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseEight" aria-expanded="true"
                            aria-controls="collapseEight">
                        Apakah Sawerin tersedia di luar Indonesia?
                    </button>
                </h2>
                <div id="collapseEight" class="accordion-collapse collapse"
                     data-bs-parent="#accordion8">
                    <div class="accordion-body">
                        Saat ini, Sawerin fokus pada pasar Indonesia, tetapi kami berharap dapat memperluas layanan kami ke negara lain di masa depan.
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>