<div class="bg-primer py-5">
    <div class="container py-5">
        <div class="row">
            <div class="col-sm text-light">
                <h1>Let your supporters value
                    you & your art as a writer</h1>
                <p>Di sini kamu bisa menerima dukungan dan apresiasi karya dengan mudah dan menyenangkan sepeti saat kamu ditraktir seorang teman.</p>
                <a href="/penerima" class="btn btn-warning">Lihat User Penerima</a>
            </div>
            <div class="col-sm">
                <div class="d-flex justify-content-center">
                    <img src="/assets/static/images/hero/hero.png" alt="hero" class="img-fluid w-75 rounded shadow">
                </div>
            </div>
        </div>
    </div>
</div>
<div>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
        <path fill="#0dcaf0" fill-opacity="1" d="M0,96L80,90.7C160,85,320,75,480,58.7C640,43,800,21,960,42.7C1120,64,1280,128,1360,160L1440,192L1440,0L1360,0C1280,0,1120,0,960,0C800,0,640,0,480,0C320,0,160,0,80,0L0,0Z"></path>
    </svg>
</div>
