<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sawerin - Admin</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/zuramai/mazer@docs/demo/assets/compiled/css/app.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/zuramai/mazer@docs/demo/assets/compiled/css/app-dark.css">
    <link rel="shortcut icon" href="https://zuramai.github.io/mazer/demo/assets/static/images/logo/favicon.svg" type="image/x-icon">
    <link rel="shortcut icon" href="https://zuramai.github.io/mazer/demo/assets/static/images/logo/favicon.png" type="image/png">

    <link rel="stylesheet" href="https://zuramai.github.io/mazer/demo/assets/compiled/css/iconly.css">

    <link rel="stylesheet" href="https://zuramai.github.io/mazer/demo/assets/extensions/@fortawesome/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="https://zuramai.github.io/mazer/demo/assets/extensions/datatables.net-bs5/css/dataTables.bootstrap5.min.css">
    <link rel="stylesheet" href="https://zuramai.github.io/mazer/demo/assets/compiled/css/table-datatable.css">

    <link rel="stylesheet" href="/assets/css/style.css">
</head>