<div id="sidebar" class="active">
    <div class="sidebar-wrapper active">
        <div class="sidebar-header position-relative">
            <div class="d-flex justify-content-between align-items-center">
                <div class="logo">
                    <a href="http://127.0.0.1:3030">SawerIn</a>
                </div>
                <div class="sidebar-toggler  x">
                    <a href="#" class="sidebar-hide d-xl-none d-block"><i class="bi bi-x bi-middle"></i></a>
                </div>
            </div>
        </div>
        <div class="sidebar-menu">
            <ul class="menu">
                <li class="sidebar-title">Menu</li>
                <li class="sidebar-item">
                    <a href="http://127.0.0.1:3030/admin/dashboard" class='sidebar-link'>
                        <i class="bi bi-grid-fill"></i>
                        <span>Dashboard</span>
                    </a>
                </li>

                <li class="sidebar-item">
                    <a href="http://127.0.0.1:3030/admin/user" class='sidebar-link'>
                        <i class="bi bi-person-badge-fill"></i>
                        <span>Users</span>
                    </a>
                </li>

                <li class="sidebar-item">
                    <a href="http://127.0.0.1:3030/admin/metode_pembayaran" class='sidebar-link'>
                        <i class="bi bi-pentagon-fill"></i>
                        <span>Metode Pembayaran</span>
                    </a>
                </li>

                <li class="sidebar-title">Transaksi</li>
                <li class="sidebar-item  ">
                    <a href="http://127.0.0.1:3030/admin/transaksi_nyawer" class='sidebar-link'>
                        <i class="bi bi-file-earmark-medical-fill"></i>
                        <span>Transaksi Sawerin</span>
                    </a>
                </li>

                <li class="sidebar-item">
                    <a href="http://127.0.0.1:3030/admin/dompet" class='sidebar-link'>
                        <i class="bi bi-collection-fill"></i>
                        <span>Dompet</span>
                    </a>
                </li>

                <li class="sidebar-item">
                    <a href="http://127.0.0.1:3030/admin/penarikan" class='sidebar-link'>
                        <i class="bi bi-cash"></i>
                        <span>Penarikan</span>
                    </a>
                </li>
                <li class="sidebar-title">Auth</li>
                <li class="sidebar-item  ">
                    <a href="http://127.0.0.1:3030/auth/admin/logout" class='sidebar-link'>
                        <i class="bi bi-life-preserver"></i>
                        <span>Logout</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>