<div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-info rounded-bottom">
    <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
        <div class="d-flex justify-content-start">
            <a href="/user/dashboard" class="h5 text-white text-decoration-none">
                <span class="text-sidebar">Dashboard</span>
            </a>
        </div>
        <div class="d-flex justify-content-start">
            <a href="/user/saweran/masuk" class="h5 text-white text-decoration-none">
                <span class="text-sidebar">Saweran Masuk</span>
            </a>
        </div>
        <div class="d-flex justify-content-start">
            <a href="/user/saweran/keluar" class="h5 text-white text-decoration-none">
                <span class="text-sidebar">Saweran Keluar</span>
            </a>
        </div>
        <div class="d-flex justify-content-start">
            <a href="/user/dompet" class="h5 text-white text-decoration-none">
               <span class="text-sidebar">Dompet</span>
            </a>
        </div>
        <hr>
    </div>
</div>
